body{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}
header{
    text-align: center;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }